
.table_container{
  height: 77vh;
  overflow: auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
tr td:nth-child(1){
  background-color:  #006B63;
  position: sticky;
  top: 0;
  left: 0;
}
thead tr{
    background-color: #4E7C88;
   
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
thead tr:nth-child(2){
  background-color: rgb(122, 122, 122);
  position: sticky;
  top: 0;
  z-index: 1;
}
thead tr:nth-child(3){
  background-color: rgb(97, 109, 180);
  position: sticky;
  top: 0;
  z-index: 1;
}
tr .container{
  background-color: grey;
}
th , td {
    padding: 0.5rem;
    font-size: 0.7rem;
    text-align: center;
}
tr td input{
  text-align: center;
  width: 2rem;
  border: none;
}
::-webkit-input-placeholder {
  color: #ffffff; 
}
  tbody tr{
    transition: all 0.3s ease-in-out;
  }
  tbody tr:hover{
   
    cursor: pointer;
    background-color: rgb(24, 24, 24);
  } 
  .projects{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0rem;
    
  }
  .projects label{
    width: 15%;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid rgba(255, 68, 0, 0.452);
    border-radius: 0.4rem;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .projects label:hover{
    transform: scale(1.04);
    background-color: #333333;
    border-top: 1px solid rgb(255, 68, 0);
  }
  .headers{
    background-color: orangered;
  }

/*   .round-loader {
  
    width: 1rem;  
    height: 1rem; 
    border-radius: 50%;   
    animation: rotate 1.5s linear infinite;  
    background: conic-gradient(
      from 0deg at 50% 50%, 
      rgba(168, 29, 29, 0) 0%, 
      rgb(209, 52, 4) 50%, 
      rgba(145, 96, 96, 0.692) 100%
    );
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
   */
  