
.header{
  display: flex;
  justify-content: space-between;
}
.Summary{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Summary:hover{
  color: orangered;
}
.projects {
  margin: 2rem 0 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.projects label {
  width: 17%;
  background-color: rgb(56 56 56);
  padding: 0.8rem;
  text-align: center;
  border-radius: 0.6em;
  border-top: 2px solid orangered;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.projects label:hover {
  background-color: #0e3137;
  transform: scale(1.04);
}
.active_label {
  background-color: #0e3137 !important;
  transform: scale(1.04);
}
.table {
  margin-top: 1rem;
  height: 80vh;
  overflow: auto;
  box-shadow: 2px 1px 4px #1a1a1a;
  border-radius: 4px;
  animation: fadeUp 0.3s ease-in-out;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.table table {
  width: 100%;
  border-collapse: collapse;
}

.table table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
.table table tr td:nth-child(1) {
  background-color: #0e3137;
  position: sticky;
  top: 0;
  left: 0;
}

.table table thead tr {
  background-color: #4e7c88;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.table table thead tr:nth-child(2) {
  background-color: rgb(122, 122, 122);
  position: sticky;
  top: 0;
  z-index: 1;
}
.table table thead tr:nth-child(3) {
  background-color: rgb(97, 109, 180);
  position: sticky;
  top: 0;
  z-index: 1;
}
.table table tr .container {
  background-color: grey;
}
.table table th,
td {
  padding: 0.5rem;
  font-size: 0.7rem;
  text-align: center;
}
.table table tbody tr {
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid rgba(77, 77, 77, 0.329);
}
.table table tbody tr:hover {
  background-color: rgb(51, 51, 51);
}

.table table tr td input {
  text-align: center;
  width: 2rem;
  border: none;
}
.table table input::placeholder {
  color: white;
}
.total {
  background-color: orangered;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: orangered;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chartContainer{
  width: 100%;
}
.chartContainer div:nth-child(1){
  max-height: 30rem;

}
.chartContainer div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.chartContainer div:nth-child(2) div{
  width: 50%;
  max-height: 300px;
}
