.header {
  display: flex;
  justify-content: space-between;
}
.Summary {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Summary:hover {
  color: orangered;
}
.projects {
  margin: 2rem 0 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.projects label {
  width: 17%;
  background-color: rgb(56 56 56);
  padding: 0.8rem;
  text-align: center;
  border-radius: 0.6em;
  border-top: 2px solid orangered;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.projects label:hover {
  background-color: #0e3137;
  transform: scale(1.04);
}
.active_label {
  background-color: #0e3137 !important;
  transform: scale(1.04);
}
.table {
  max-height: 50rem;
  overflow: auto;
  box-shadow: 2px 1px 4px #1a1a1a;
  border-radius: 4px;
  animation: fadeUp 0.5s ease-in-out;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(-90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.table table {
  width: 100%;
  border-collapse: collapse;
}

.table table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
.table table tr td:nth-child(1) {
  background-color: #0e3137;
  position: sticky;
  top: 0;
  left: 0;
  min-width: 180px;
  width: 180px;
}

.table table thead tr {
  background-color: #4e7c88;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.table table thead tr:nth-child(2) {
  background-color: rgb(122, 122, 122);
  position: sticky;
  top: 0;
  z-index: 1;
}
.table table thead tr:nth-child(3) {
  background-color: rgb(97, 109, 180);
  position: sticky;
  top: 0;
  z-index: 1;
}
.table table tr .container {
  background-color: grey;
}
.table table th,
td {
  padding: 0.5rem;
  font-size: 0.7rem;
  text-align: center;
}
.table table tbody tr {
  transition: 0.3s ease-in-out;
  border: 1px solid black;
}
.table table tbody tr:hover {
  background-color: #1a1a1a;
}
.table table tr td {
  font-weight: 600;
  min-width: 1rem;
}

.table table tr td input {
  text-align: center;
  width: 2rem;
  border: none;
}
.table table input::placeholder {
  color: white;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: orangered;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table table td span svg {
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.table table td span :hover {
  color: orangered;
  transform: translateY(2px);
}
.total_dh_required {
  background-color: black;
}
.total_ {
  background-color: #3f3f3f;
}
.total_family {
  background: #0e3137;
}
.actualDh {
  background-color: #b5330371;
}
.Show_hidens {
  animation: fadeUphidens 0.5s ease-in-out;
}
@keyframes fadeUphidens {
  0% {
    opacity: 0;
    transform: translateX(-90px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
